<div class="container-cards">
  <h1 *ngIf="view === 'edit'" class="title-head">
    <span>Modificar cliente</span>
  </h1>
  <h1 *ngIf="view === 'profile'" class="title-head">
    <span>Visualización Cliente</span>
  </h1>
  <h1 *ngIf="view === 'nuevo'" class="title-head">
    <span>Nuevo Sub Cliente</span>
  </h1>
  <mat-list>
    <mat-list-item>Información Sub Cliente</mat-list-item>
    <mat-card>
      <app-info-sub-cliente [codigoSubCliente]='codigoSubCliente' [view]='view'></app-info-sub-cliente>
    </mat-card>
    <mat-divider></mat-divider>

    <mat-accordion *ngIf="view === 'profile' || view === 'edit'" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Historial de Cambios </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
          <app-historial-cambios></app-historial-cambios>
        </mat-card>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Relaciones con Clientes </mat-panel-title>
        </mat-expansion-panel-header>
          <app-relaciones [options]="false"></app-relaciones>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-list>
</div>
