<div flexLayout="row" class="bread">
  <div *ngIf="breadcrumbs.length !== 2" fxFlex="15" class="back">
    <button

      routerLink="{{ breadcrumbs[breadcrumbs.length - 2].url }}"
      mat-button
    >
      <mat-icon>arrow_back</mat-icon>
      <h3 fxFlex="15">Atrás</h3>
    </button>

  </div >
  <div fxFlex="70" class="breadcrumb">
    <ul>
      <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
        <a routerLink="{{ breadcrumb.url }}">
          {{ breadcrumb.label }}
        </a>
      </li>
    </ul>
  </div>
</div>
