<div>
  <form fxLayout="row" [formGroup]="formSubClientes">
    <div class="left-container" fxFlex="70%">
      <div>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Código de Sub Cliente</mat-label>
          <input matInput formControlName="CodigoSubCliente" />
        </mat-form-field>
        <mat-form-field appearance="legacy" [ngClass]="formSubClientes.value.NombreCompleto.length > 20 ? 'space' : ''"
          floatLabel="always">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="NombreCompleto" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Status</mat-label>
          <input [ngClass]="active ? 'status-green' : 'status-red'" matInput formControlName="Status" />
        </mat-form-field>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Nombre Abreviado</mat-label>
          <input matInput formControlName="NombreAbreviado" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Nro. de Teléfono</mat-label>
          <input matInput formControlName="NroTelefono" />
        </mat-form-field>
        <mat-form-field appearance="legacy" [ngClass]="formSubClientes.value.Domicilio.length > 20 ? 'space' : ''"
          floatLabel="always">
          <mat-label>Domicilio</mat-label>
          <input matInput formControlName="Domicilio" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Carnet de Identidad</mat-label>
          <input matInput formControlName="CarnetIdentidad" />
        </mat-form-field>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Tipo Documento Cliente</mat-label>
          <input matInput formControlName="TipoDocumentoCliente" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Identificación Tributaria</mat-label>
          <input matInput formControlName="IdentificacionTributaria" />
        </mat-form-field>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Fecha Alta</mat-label>
          <input matInput formControlName="FechaAlta" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Fecha Baja</mat-label>
          <input matInput formControlName="FechaBaja" />
        </mat-form-field>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Fecha Actualización</mat-label>
          <input matInput formControlName="FechaActualizacion" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Localidad</mat-label>
          <input matInput formControlName="Localidad" />
        </mat-form-field>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Descrip. Abreviada Localidad</mat-label>
          <input matInput formControlName="DescripAbreviadaLocalidad" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Departamento</mat-label>
          <input matInput formControlName="Departamento" />
        </mat-form-field>
        <mat-form-field appearance="legacy" floatLabel="always">
          <mat-label>Descrip. Abreviada Dto.</mat-label>
          <input matInput formControlName="DescripAbreviadaDto" />
        </mat-form-field>
      </div>
      <mat-form-field appearance="legacy" floatLabel="always">
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email" />
      </mat-form-field>
    </div>
    <div fxFlex="30%">
      <img src="assets/img/maxresdefault.jpg" />
    </div>
  </form>
</div>
