<div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Cliente">
      <th mat-header-cell *matHeaderCellDef>
        Cod. Cliente
      </th>
      <td mat-cell *matCellDef="let row">{{ row.ClienteID }}</td>
    </ng-container>

    <ng-container matColumnDef="FechaMod">
      <th mat-header-cell *matHeaderCellDef>
        Fecha Modificación
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.FechaMod }}
      </td>
    </ng-container>

    <ng-container matColumnDef="DescripCliente">
      <th mat-header-cell *matHeaderCellDef>
        Descripción Cliente
      </th>
      <td mat-cell *matCellDef="let row">{{ row.DescripCliente }}</td>
    </ng-container>

    <ng-container matColumnDef="DescripCambio">
      <th mat-header-cell *matHeaderCellDef>
        Descripción Cambio
      </th>
      <td mat-cell *matCellDef="let row">{{ row.DescripCambio }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [hidePageSize]="true" aria-label="Select page of users"></mat-paginator>
</div>
