<div class="view-table">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="center start">
      <mat-form-field fxFlex="20" class="filter" appearance="standard">
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Buscar por Nombre"
          #input
        />
      </mat-form-field>
      <div fxFlex="60" class="filter">
        <app-filters (foundSubCliente)="subCliFound($event)"></app-filters>
      </div>

      <div fxFlex="20" class="add-button">
        <a [routerLink]="['perfilSubCliente', 'nuevo']" mat-raised-button
          >Nuevo Sub Cliente</a
        >
      </div>
    </div>
  </mat-card>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="Opciones">
        <th mat-header-cell *matHeaderCellDef>Opciones</th>
        <td mat-cell *matCellDef="let row">
          <button
            [routerLink]="['perfilSubCliente', row.Codigo, 'edit']"
            matTooltip="Modificar"
            mat-icon-button
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            matTooltip="Baja"
            color="warn"
            (click)="changeStatusSubCliente(row, 0)"
            [disabled]="row.Status !== 1"
            mat-icon-button
          >
            <mat-icon>close</mat-icon>
          </button>
          <button
            matTooltip="Reactivar"
            (click)="changeStatusSubCliente(row, 1)"
            class="alta-sub-cliente"
            [disabled]="row.Status === 1"
            mat-icon-button
          >
            <mat-icon>done</mat-icon>
          </button>
          <button
            [routerLink]="['relaciones', row.Codigo]"
            matTooltip="Relacionar"
            mat-icon-button
          >
            <mat-icon>dynamic_feed</mat-icon>
          </button>
          <button
            [routerLink]="['perfilSubCliente', row.Codigo, 'profile']"
            routerLinkActive
            matTooltip="Visualizar Perfil"
            mat-icon-button
          >
            <mat-icon>person</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Codigo">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let row">{{ row.Codigo }}</td>
      </ng-container>

      <ng-container matColumnDef="RazonSocial">
        <th mat-header-cell *matHeaderCellDef>Razón Social</th>
        <td
          mat-cell
          class="name-select"
          [routerLink]="['perfilSubCliente', row.Codigo, 'profile']"
          *matCellDef="let row"
        >
          {{ row.RazonSocial }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td
          [ngClass]="row.Status === 1 ? 'status-green' : 'status-red'"
          mat-cell
          *matCellDef="let row"
        >
          {{ row.Status === 1 ? "Activo" : "Inactivo" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="NIT">
        <th mat-header-cell *matHeaderCellDef>NIT</th>
        <td mat-cell *matCellDef="let row">{{ row.Nit }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
