table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 40%;
  padding: 0 2%;
}
td,
th {
  width: 25%;
}
.view-table {
  padding: 2% 10% 0 10%;
}
.alta-sub-cliente {
  color: green;
}

.name-select {
  cursor: pointer;
}
.status-green {
  color: green;
}
.status-red {
  color: red;
}

.add-button {
  margin: 2% 0 0;
  width: 100%;
  font-size: 10px;
}
.filter {
  padding: 0% 0 0;
  width: 100%;
}

.expand-white {
  color: white;
}
.expanded-box {
  position: absolute;
  top: 70%;
  right: 29%;
  z-index: 1;
  width: 50%;
  mat-card {
    padding: 10% 0 5% 0;
  }
}

.clean-button {
  position: absolute;
  left: 93%;
  bottom: 7%;
  margin: 0;
  padding: 0;
  min-width: 0px;
  line-height: 0px;
}
