table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
td, th {
  width: 25%;
}
.view-table{
  padding: 2% 10% 0 10%;
}
.alta-sub-cliente{
  color: green;
}

.add-button{
  float: right;
}

.name-select{
  cursor: pointer;
}
