table {
  width: 100%;
}
.status-green {
  color: green;
}
.status-red {
  color: red;
}
.view-table {
  padding: 2% 10% 0 10%;
  margin: 3% 0 0 0;
  table{
    padding: 3% 0 0 0;
  }
}
.add-button {
  position: absolute;
  right: 5%;
  padding: 0% 0 0 0;
  font-size: 10px;
}
.mat-column-Opciones {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
